@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_Book.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_BookItalic.otf') format('opentype');
  font-weight: 350;
  font-style: italic;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_RegularItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Nobel';
  src: url('../fonts/nobel/Nobel_BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
