@function vw($px-vw, $base-vw: 390px) {
    @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {
    body, html {
        font-size: vw(20px);

    }
    .container {
        padding: 0 1rem;
        max-width: 100%;
    }
    .subttl {
        font-size: 1.2rem;
    }
    .ttl {
        font-size: 1.4rem;
    }
    .mosaic__preload-cont .txt-log {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        padding: 0.75rem 0 0.75rem;
        margin-bottom: 0.75rem;

        span {
            text-align: center;
            font-size: 1rem;
        }

        .lg {
            height: 0.75rem;
        }
    }
    .mosaic__preload-cont .txt p {
        font-size: 0.8rem;
    }
    .mosaic .btn-open {
        height: 2.4rem;
        font-size: 1rem;
    }
    .log-mos {
        top: 0.5rem;
        left: 0.5rem;
        height: 1.8rem;
    }
    :root {
        --gap: 0.5rem;
        --col-w: 9rem;
        --card-r: .9rem;
    }
    .col:nth-child(even) {
        margin-top: 4rem;
    }
    .mosaic__panel .log {
        top: 0.5rem;
        left: 0.5rem;
        height: 0.75rem;
    }
    .mosaic__panel {
        transform: translateX(-110%);
    }
    .mosaic__panel-body-inner {
        padding: 3rem 1.5rem 1rem;
    }
    .mosaic__panel-title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .mosaic__panel-body .txt span {
        font-size: 1.2rem;
    }
    .mosaic__panel-body .txt p {
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }
    .mosaic__panel-img-wrap {
        padding: 1rem 1rem;
    }
    .mosaic__panel-cta {
        height: 2.4rem;
        font-size: 1rem;
    }
    .mosaic__ui p {
        display: none;
    }
    .mosaic__panel-header {
        flex-direction: column-reverse;
    }
    .mosaic__panel-header {
        pointer-events: none;
    }
    .burger-btn {
        pointer-events: auto;
    }
    .mosaic__panel-menu .men ul {
        flex-direction: column-reverse;
    }
    .mosaic__panel-menu {
        width: 6.5rem;
        height: auto;
        padding: 0.25rem 0;
        max-width: 100%;
        transform: translate(0, 120%);
        transition-delay: 0s !important;

        .men {
            width: 100%;
            height: auto;

            ul {
                width: 100%;
                height: auto;

                li {
                    width: 100%;
                    height: auto;
                    transform: none !important;

                    a {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    .mosaic__panel-header.active .mosaic__panel-menu {
        transform: translate(0, 0);
    }
}