@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

.text-block {
  font-family: $main-font;
  font-weight: 400;
  line-height: 1.25;
  font-size: 1rem;
  color: $main-color;
  p u {
    font-size: 1.4em;
    font-weight: 700;
  }

  a {
    text-decoration: underline;
    font-weight: 500;
    color: $hov;
  }

  *:not(img, ul, ol, li, blockquote, span, strong, br, iframe) {
    margin-bottom: 1rem;

  }

  br {
    content: "";
    display: block;
    height: 1.5rem;
  }

  *:last-child {
    margin-bottom: 0;

    strong {
      font-weight: 700;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.1;
    color: $main-color;
    strong {
      font-weight: inherit;
    }

  }


  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }
  h6 {
    font-size: 1.2rem;
  }

  a {
    text-decoration: underline;
    color: $main-color;

    &:hover {
      text-decoration: none;
    }
  }

  blockquote {
    font-family: $second-font;
    background: $light;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    color: $main-color;
    padding: 2.5rem 4rem;
    position: relative;
    z-index: 2;


    &::after, &::before {
      content: '"';
      position: absolute;
      top: 0.4rem;
      left: 0.9rem;
      font-size: 3rem;
    }

    &::after {
      top: auto;
      left: auto;
      bottom: 0.4rem;
      right: 0.9rem;
      transform: rotate(180deg);
    }


  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .alignleft {
    float: left;
    margin-right: 2rem;
  }

  .alignright {
    float: right;
    margin-left: 2rem;
  }

  .aligncenter {
    margin: 0 auto;
  }

  ol, ul {
    li {
      line-height: 1.5;
      margin-bottom: 0.1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      padding-right: 1rem;
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: 0.7rem;
        right: 0;
        background: $main-color;
        border-radius: 50%;
        width: 0.25rem;
        height: 0.25rem;
      }

      ol {
        counter-reset: numUl;

        li {
          padding-left: 0;

          &::after {
            display: none;
          }

          &::before {
            counter-increment: numUl;
            content: counters(numUl, '.') '.';
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
          }
        }
      }
    }
  }

  ol {
    counter-reset: numOl;

    li {
      &::before {
        counter-increment: numOl;
        content: counters(numOl, '.') '.';
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }

      ol {
        padding-right: var(--paddingList);
      }

      ul {
        padding-right: 1rem;

        li {
          position: relative;
          z-index: 2;


          &::before {
            display: none;
          }
        }
      }
    }
  }
  .emoji {
    max-width: 1rem !important;
    width: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    td, th {
      border: 1px solid $main-color;
      padding: 0.25rem;
    }
    th {
      background: $light2;
    }

    td {
      font-size: 0.8rem;
      p, a {
        font-size: inherit;
      }


    }
  }
}

@function vw($px-vw, $base-vw: 393px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {

  .text-block {
    font-size: 1rem;
    p u {
      font-size: 1.2em;
    }

    h1 {
      font-size: 1.7rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    h5, h6 {
      font-size: 1rem;
    }

    *:not(img, ul, ol, li, blockquote, span, strong, br, iframe) {
      margin-bottom: 0.6rem;

    }

    ol, ul {
      li {
        margin-bottom: 0.3rem;
      }
    }

    img {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    ul {
      li {
        padding-right: 0.7rem;
        position: relative;
        z-index: 2;

        &::after {
          content: "";
          position: absolute;
          top: 0.55rem;
          right: 0;
          background: $main-color;
          border-radius: 50%;
          width: 0.25rem;
          height: 0.25rem;
        }
      }
    }

    blockquote {
      width: 100%;
      font-size: 0.8rem;
      padding: 1.5rem 1rem;
      border-radius: 0.5rem;
      margin-left: 0;
      margin-right: 0;

      &::before {
        top: 0.25rem;
        left: 0.25rem;
      }

      &::after {
        bottom: 0.25rem;
        right: 0.25rem;
      }
    }
  }
}