@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

$main-font: "Nobel", sans-serif;
$second-font: "Nobel", sans-serif;


$main-color: #0b132b;
$cream: rgb(255, 248, 238);
$green: #B7EF5A;
$blue: #3A40EF;
$light: #85d3ff;
$light2: #D7ECEB;
$grey: #eeeeee;
$border: #EAEAEA;

$pink: #DF1883;

$second-color: #473B7F;
$bg: #135489;
$orange: #ff9600;
$red: #E53935;
$text: #104068;
$hero: #D6D0B3;
$darkblue: #00468b;
$blueop: rgba(175, 215, 255, 0.5);
$lightgreen: #A9CF45;
$white: #fff;
$black: #111111;
$yellow: #fbfb92;
$bord: #F4EFE9;
$size: vw(20px);
$hov: #5AB9B5;

@mixin overFlow {
  overflow: hidden;
  backface-visibility: hidden;
  appearance: none;
}

@mixin flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterH {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexCenterV {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin rtl-margin($property, $ltrproperty, $value, $value2) {
  margin-#{$property}: $value;
  margin-#{$ltrproperty}: $value2;

  [dir=rtl] & {
    margin-#{$ltrproperty}: $value;
    margin-#{$property}: $value2;
  }
}

@mixin rtl-padding($property, $ltrproperty, $value, $value2) {
  padding-#{$property}: $value;
  padding-#{$ltrproperty}: $value2;

  [dir=rtl] & {
    padding-#{$ltrproperty}: $value;
    padding-#{$property}: $value2;
  }
}

@mixin textAlign($property, $property2) {
  text-align: $property;

  [dir=rtl] & {
    text-align: $property2;
  }
}

//fonts

@mixin defaultFont {
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: 1.10;
  color: $main-color;
}

@mixin textFont {
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: 1.3;
  color: $main-color;
}

body {
  @include defaultFont;
}

@mixin title {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: $main-color;
  strong {
    font-weight: inherit;
    color: $blue;
  }
}

@mixin mainTitle {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.3;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

@mixin subtitle {
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #000;
}


//done px


.modal-window {
  //display: none;
}