.articles {
    padding: 60px 0;
    background: #F5F4ED;


    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 60px;
    }

    &__top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .title {
            color: #262A2B;
        }
    }

    &__slider {
        width: 100%;
        &-navigation {
            width: 100%;
            position: relative;
            margin-top: 10px;
            padding: 20px;
        }

    }

    &.is-dark {
        background: #262A2B;

        .blog-card {
            &__content {
                .ln {
                    color: #fff;
                }
            }

            &__tags {
                p {
                    color: #fff;
                }
            }
        }
        .splide .splide__pagination li button {
            background: #fff;
            opacity: 0.2;
        }
        .splide .splide__pagination li button.is-active {
            background: #fff;
            opacity: 1;
        }
    }

    &.is-dark &__top {
        .title {
            color: #fff;
        }

    }
}

@include maxw($desktop) {
    .articles {
        padding: vwD(60px) 0;

        &__wrapper {
            gap: vwD(60px);
        }

        &__slider {
            &-navigation {
                margin-top: vwD(10px);
                padding: vwD(20px);
            }
        }
    }
}

@include maxw($mobile) {
    .articles {
        padding: vwM(30px) 0;

        &__wrapper {
            gap: vwM(20px);
        }

        &__slider {
            &-navigation {
                margin-top: vwM(5px);
                padding: vwM(14px);
            }
        }
    }
}