.team-slider {
    width: 100%;
    padding: 60px 0 120px;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 45px;
    }

    &__top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__slider {
        width: 100%;

        .splide {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0 0 80px;

            &__track {
                width: 100%;
            }

            &__list {
                width: 100%;
            }
        }
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .img {
            width: 100%;
            aspect-ratio: 1 / 1;
            display: flex;
            @include overFlow;

            margin-bottom: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.4s ease-in-out;
            }
        }

        p {
            @include text(24px, #000, 1.2, 700);
            letter-spacing: -0.03em;
            transition: all 0.4s ease-in-out;
            text-decoration: none;
        }

        &:hover {
            .img {
                img {
                    transform: scale(1.1);
                }
            }

            p {
                text-decoration: underline;
            }
        }
    }
}

@include maxw($desktop) {
    .team-slider {
        padding: vwD(60px) 0 vwD(120px);

        &__wrapper {
            gap: vwD(45px);
        }

        &__slider {

            .splide {
                padding: 0 0 vwD(80px);
            }
        }

        &__item {
            .img {
                margin-bottom: vwD(15px);
            }

            p {
                font-size: vwD(24px);

            }

        }
    }
}

@include maxw($mobile) {
    .team-slider {
        padding: vwM(30px) 0 ;

        &__wrapper {
            gap: vwM(20px);
        }

        &__slider {

            .splide {
                padding: 0 0 vwM(40px);
            }
        }

        &__item {
            .img {
                margin-bottom: vwM(12px);
            }

            p {
                font-size: vwM(16px);

            }

        }
    }
}